<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Learnwell Ansible</title>
    <style>
        html {
            font: normal normal 105%/1.7 sans-serif
        }

        .container {
            max-width: 1120px;
            margin: 0 auto;
            padding: 0 30px;
            padding: 0 1.5rem
        }

        .grid {
            margin-left: -3%;
            max-width: 105%
        }

        .unit {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: top;
            margin-left: 3%;
            margin-right: -.25em;
            overflow: hidden;
            *overflow: visible
        }

        #menu li {
            float: right;
            margin-right: 1.0em;
            list-style: none
        }

        #menu a {
            text-decoration: none;
            color: #696969;
            font-size: 100%
        }

        #menu a:visited {
            text-decoration: none;
            color: #696969
        }

        .span-grid {
            width: 97%
        }

        h1 {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 1.0;
            letter-spacing: -0.05555556em;
            font-size: 60px;
            font-size: 3.4em;
            font-shadow: none;
            color: #333;
        }

        h2,
        .beta {
            font-family: sans-serif;
            font-size: 40px;
            font-size: 1.7rem;
            font-weight: 500;
            color: #696969;
            line-height: 1.5;
            letter-spacing: -0.05555556em
        }

        p,
        ul,
        hr,
        form,
        h1,
        .alpha,
        h2,
        .beta {
            margin-bottom: 30px;
            margin-bottom: 1.5rem
        }

        img {
            height: auto;
        }

        .head {
            height: 150px;
        }

        .intro {
            float: right;
            margin: 1.0em;
            max-width: 60%;
        }

        @media screen and (max-width:650px) {
            img {
                height: auto;
                color: #c00
            }
            .intro {
                float: right;
                margin: 1.0em;
                max-width: 100%;
            }
            .grid {
                margin-left: 0;
                max-width: none
            }
            .unit {
                width: auto;
                margin-left: 0;
                display: block
            }
            .head {
                height: 100px
            }
            h1 {
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: 1.0;
                letter-spacing: -0.05555556em;
                font-size: 50px;
                font-size: 2.0rem;
                font-shadow: none;
                color: #333
            }
            html {
                font-size: 90%:line-height:normal
            }
            #menu {
                display: none;
            }
            img {
                height: auto;
                border: 0;
            }
            .intro {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

    </style>
</head>

<body id="top">
    <div class="container">
        <div class="grid">
            <div class="unit span-grid">
                <div class="head">
                    <br>
                </div>
                <div class="unit span-grid">

                    <h1>Mastering Ansible @Learnwell</h1>
                <p>{{ ansible_managed }}</p>    
		<br>
                    <p>Welcome to the Mastering Ansible Course, I'm your host for this, and in this course we'll be covering the following:
                    </p>
                    
                    <h2>Installation and Configuration of Ansible</h2>
                    <p>The various options available for installing and building Ansible.  The use of python virtual environments with pip installation from both pypi and github.  The configuration of control hosts for Windows, Mac OS X and Linux and guidance on the use of a preconfigured 8 node virtual machine lab that can be used for the course

                    </p>
                    <h2>Ansible Architecture and Design</h2>
                    <p>Indepth examination and exploration of the architecture and design of Ansible, through the use of Inventories, Modules, Playbooks, Variables, Facts and templating with Jinja2
                    </p>
                    
                    <h2>Ansible Playbooks, Advanced Topics</h2>
                    <p>A deep dive into the Ansible core modules.  The creation and execution of dynamic inventories.  Making use of when conditionals.  Registering and reusing output.  Exploring the various options for loop structures, Asynchronous and Parallel execution.  Task Delegation.  Magic Variables.  Blocks.  The Ansible Vault.  Creating Custom Modules and Creating Plugins
                    </p>
                    
                    <h2>Structuring Ansible Playbooks</h2>
                    <p>Restructuring Playbooks to make use of includes, imports, tags and roles along with an investigation of the various states and behaviours that will influence usage considerations.
                    </p>
                    
                    <h2>Using Ansible with Cloud Services and Containers</h2>
                    <p>Exploring Cloud and Container services through hands on examples with Amazon AWS and Docker automation through Ansible
                    </p>
                    
                    <h2>Other Ansible Resources and Areas</h2>
                    <p>Troubleshooting Ansible, Validation Testing, Best Practices and Upgrading Ansible
                    </p>
                </div>



            </div>


        </div>
    </div>

</body>

</html>
